@{
    ViewData["Title"] = "Home Page";
    ViewData["Route"] = "home";
}

<div class="home-container">
  <div class="home-content">
    <p class="home-title">Book Store</p>
    <p class="home-small"><i>"Think before you speak. Read before you think."</i></p>
    <!-- <a class="home-btn"></a> -->
    <a class="btn home-btn" asp-area="" asp-controller="Books" asp-action="Index">START READING</a>

  </div>
  <div class="home-img">
    <img src="~/images/index-banner.jpg"/>  
  </div>
</div>