@model BeckmanCoulter.BookStore.DbEntity.Book

@{
  ViewData["Title"] = "Details";
  ViewData["Route"] = "book";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Details">

  <div class="container">

    <h1>
      @Html.DisplayFor(model => model.Name)
    </h1>
    <div>
      <img src="@Url.Content(Model.Image)" />
    </div>

    <div style="margin-top: 20px; line-height: 25px;">
      @Html.DisplayFor(model => model.Description)
    </div>


    <div style="margin-top: 20px; margin-bottom: 20px;">
      @if (Model.Quantity > 0)
      {
        <button type="button" class="btn btn-success">Borrow</button>
      }
      else
      {
        <span style="color: red;">这本书没有库存了！</span>
      }
        <a href="/books/index" class="btn btn-secondary active" role="button" aria-pressed="true">Back</a>
    </div>
  </div>
</form>

