@model BeckmanCoulter.BookStore.DbEntity.Book

@{
  ViewData["Title"] = "Details";
  ViewData["Route"] = "book";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Details">
  <div class="container">
    <h3 style="margin-top: 10px; margin-bottom: 10px;">
      @Html.DisplayFor(model => model.Name)
    </h3>
    <div>
      <img src="@Url.Content(Model.Image)" style="width: 300px;" />
    </div>

    <div style="margin-top: 20px; line-height: 25px; font-size: 13px;">
      @Html.DisplayFor(model => model.Description)
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px;">
      @if (Model.Quantity > 0)
      {
        <button type="submit" class="btn btn-success">借一下</button>
      }
      else
      {
        <div style="color: red; margin-bottom: 20px;">这本书没有库存了！</div>
      }
      <a href="/books/index" class="btn btn btn-light" role="button" aria-pressed="true">返回</a>
    </div>
  </div>
</form>

